*.iws
*.ids
*Db.properties
*Db.script
.settings
stacktrace.log
/*.zip
/plugin.xml
/*.log
/*DB.*
/cobertura.ser
.DS_Store
/target/
/out/
/web-app/plugins
/web-app/WEB-INF/classes
/.link_to_grails_plugins/
/target-eclipse/
web-app/WEB-INF/tld/c.tld
web-app/WEB-INF/tld/fmt.tld
 
# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse
 
# Itellij Idea Workspace
*.iml
.idea/codeStyleSettings.xml
.idea/compiler.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/libraries/*
.idea/gradle_settings2_config.xml
.idea/dictionaries/*
.idea/copyright/*
.idea/inspectionProfiles/*
.idea/scopes/*
target/*
.idea/gradle_settings2_config.xml
production/
/*.iml
 
# Gradle files
.gradle/*
build/
native/
classes/
